<%- include("../includes/header.ejs", {title:"Resumes - " + result1.resume_name}); %>
    <h1>Resumes</h1>
    <ul>
        <li>Resume Name: <%= result1.resume_name %></li>
        <li>First Name: <%= result1.first_name %></li>
        <li>Last Name: <%= result1.last_name %></li>

        <li> Company Name(s):
            <% for(var i=0; result2.length > i; i++ ) { %>
                 <%= result2[i].company_name %>,
            <% } %>
        </li>

        <li> School Name(s):
            <% for(var i=0; result3.length > i; i++ ) { %>
                <%= result3[i].school_name %>,
            <% } %>
        </li>

        <li> Skill Name(s):
            <% for(var i=0; result4.length > i; i++ ) { %>
                <%= result4[i].skill_name %>, 
            <% } %>
        </li>
    </ul>

<a href="/resume/all"><< back</a>

<%- include("../includes/footer.ejs"); %>