<%- include("../includes/header.ejs", {title: "Update " + resume.resume_name}); %>

<h1>Update <%= resume.resume_name%></h1>
<form action="/resume/update" method="get" id="resumeform">
    <input type="hidden" id="resume_id" name="resume_id" value="<%= resume.resume_id %>">
    Resume Name: <input id="resume_name" name="resume_name" type="text" value="<%= resume.resume_name%>"/>
    <br />
    <br />
    Company
    <br />
    <select id="company_id" name="company_id" form="resumeform" multiple="multiple">
        <% for(var i=0; company.length > i; i++ ) { %>
        <option value="<%= company[i].company_id %>" > <%= company[i].company_name %></option>
        <% } %>
    </select>
    <br />

    School
    <br />
    <select id="school_id" name="school_id" form="resumeform" multiple="multiple">
        <% for(var i=0; school.length > i; i++ ) { %>
        <option value="<%= school[i].school_id %>" > <%= school[i].school_name %></option>
        <% } %>
    </select>
    <br />

    Skill
    <br />
    <select id="skill_id" name="skill_id" form="resumeform" multiple="multiple">
        <% for(var i=0; skill.length > i; i++ ) { %>
        <option value="<%= skill[i].skill_id %>" > <%= skill[i].skill_name %></option>
        <% } %>
    </select>
    <br />


    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>